<nav class="navbar">
    <div class="container-fluid">

        <ul class="navbar nav">
            <li class="nav-item">
                <a routerLink="cart" class="nav-link">Cart ({{numero}})</a>

            </li>

        </ul>
    </div>
</nav>

<div class="container">
    <div class="card m-3" *ngFor="let product of listado">
        <div class="card-header ">
            <img src="{{product.url}}"   style="height: 200px; width: 100%" alt="">
        </div>
        <div class="card-body">
            <p>{{ product.title }}</p>
            <button class="btn btn-primary" (click)="agregar(product.thumbnailUrl, product.title)">Add</button>
        </div>
    </div>
</div>